h1 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 35px;
}

p {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.table_contacts {
    margin-left: 20%;
    margin-right: 50%;
    width: 70%;
    margin-bottom: 30px;
    color: black;

}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    margin-top: 64px;
}

.programmer {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

.body {
    font-family: Comfortaa;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.salary {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.table_languages {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    width: 70%;
}

.column_contacts {
    width: 30%;
    height: 25px;
}

a {
    text-decoration: none;
    color: #A9BCF5;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;e
    line-height: 3;
    color: #696969;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;e
    line-height: 1.5;
    color: #696969;
}

.job_name {
    line-height: 2;
    margin-bottom: 32px;
}

.job_about {
    color: #696969;
    margin-bottom: 60px;
    line-height: 1.5;
    margin-left: 30px;
}

.skills {
    line-height: 2;
    color: #696969;
}

.location_age {
    font-size: 18px;
    line-height: 2;
}

.column_second {
    color: #696969;
}

.language_button {
    margin-bottom: 20px;
    font-size: 12px;
}

.table_row {
    height: 30px;
}

.contacts_subtitle {
    margin-top: 45px;
}